/* Stile per il corpo della pagina */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Aggiunto per garantire che l'altezza copra l'intera finestra */
    display: flex; /* Aggiunto per centrare il contenuto */
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
}

h1 {
    text-align: center;
    font-size: 4vw; /* Usa viewport width per dimensionare il titolo in base alla larghezza dello schermo */
    margin-top: 50px;
}

.main-content {
    text-align: center;
    margin-top: 50px;
}

/* Stile per l'icona del menu */
#menu-icon {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
}

/* Stile per il menu laterale */
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* Stile per i link nel menu */
.side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    background-color: #575757;
}
/* Stile per il pulsante di chiusura */
.side-menu .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Stile per il contenuto principale */
.main-content {
    text-align: center; /* Centra il testo orizzontalmente */
}



/*______*/
/* Stile per i fieldset */
fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Stile per i legend */
legend {
    font-size: 1.5em; /* Usa una dimensione di font relativa */
    font-weight: bold;
    margin-bottom: 15px;
}

/* Stile per i label */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Stile per gli input e textarea */
input[type="text"], input[type="number"], textarea {
    width: calc(100% - 16px); /* Considera il padding */
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em; /* Usa dimensioni di font relative */
}

/* Stile per il pulsante di invio */
input[type="submit"] {
    background-color: #3791b8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em; /* Usa dimensioni di font relative */
}

input[type="submit"]:hover {
    background-color: #2b5567;
}

/* Stile per i link come pulsanti */
.button {
    display: inline-block;
    background-color: #3791b8;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1em; /* Usa dimensioni di font relative */
}

.button:hover {
    background-color: #2b5567;
}

/* Stili specifici per dispositivi con larghezza massima di 600px (smartphone) */
@media screen and (max-width: 600px) {
    .main-content {
        width: 95%; /* Usa una larghezza leggermente più ampia su dispositivi più piccoli */
    }

    legend {
        font-size: 1.2em; /* Riduci la dimensione del font su schermi piccoli */
    }

    input[type="text"], input[type="number"], textarea {
        font-size: 0.9em; /* Riduci la dimensione del font su schermi piccoli */
    }

    input[type="submit"], .button {
        font-size: 0.9em; /* Riduci la dimensione del font su schermi piccoli */
        padding: 10px 15px; /* Riduci il padding su schermi piccoli */
    }
}




/* Stile per il corpo della pagina */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Stile per il contenuto principale */
.main-content {
    width: 90%; /* Usa il 90% della larghezza della finestra */
    max-width: 900px; /* Limita la larghezza massima per una migliore leggibilità */
    margin: auto;
    padding: 20px;
    background-color: #fff; /* Sfondo bianco per il modulo */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiunto un'ombra leggera per un effetto di sollevamento */
}